@use '../Resources/variable.scss' as variable;

.adminlayout {
  margin: variable.$margin-10;
  @include variable.bg-white;
  padding: variable.$padding-10 * 2;
  width: variable.$admin-width;
  height: variable.$admin-height;
  @include variable.box-shadow;
}

.table {
  width: variable.$table-width;
  border-collapse: collapse;
  font-size: variable.$font-10*2-2;
  text-align: left;
  margin: variable.$margin-10;
}

.th,
.td {
  padding: variable.$padding-10;
  border: 1px solid #ddd;
  justify-content: center;
  text-align: center;
}

.th {
  @include variable.bg-white;
  font-weight: bold;
}

@each $key, $value in variable.$priority-enums{
    .conditon-#{$key} {
      color: $value;
    }
}
