.adminlayout {
  margin: 10px;
  background-color: white;
  padding: 20px;
  width: 1770px;
  height: 770px;
  box-shadow: 0 0px 16px 0 rgba(0, 0, 0, 0.2);
}

.table {
  width: 1450px;
  border-collapse: collapse;
  font-size: 18px;
  text-align: left;
  margin: 10px;
}

.th,
.td {
  padding: 10px;
  border: 1px solid #ddd;
  justify-content: center;
  text-align: center;
}

.th {
  background-color: white;
  font-weight: bold;
}
