.card {
  width: 100%;
  height: 220px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
  padding-bottom: 10px;
  padding-top: 10px;
  margin-bottom: 10px;
  /* 5px rounded corners */
}
.container {
  padding: 2px 16px;
  background-color: rgb(255, 255, 255);
}
.grid-item {
  padding-top: 5px;
  padding-bottom: 5px;
}
.blink {
  animation: blink-animation 2s infinite;
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
@keyframes blink-animation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.accordion {
  margin: 10px;
}
.accordion:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.title {
  margin: 10px;
}
.accordion-body {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
select {
  margin-left: 10px;
  padding: 5px;
}
.monitor {
  background-color: white;
  margin-left: 10px;
  border-radius: 5px;
  height: 820px;
  overflow-y: auto;
  box-shadow: 0 0px 16px 0 rgba(0, 0, 0, 0.2);
  margin-top: 10px;
}
body {
  background-color: #f7f7f7;
}
.items:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.grey-toast {
  background-color: grey !important;
  color: white !important;
}
